body{
    font-family: "Montserrat", sans-serif;
    background-color: #F5F6F8;
    margin: 20px auto ;
    text-align: center;
    max-width: 50%;
}

h1{
    color: black;
}

button{
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    background-color: #4F8A8B;
    border: none;
    border-radius: 4px;
    transition: .5s all ease;
}

button:hover{
    background-color: #3C6E71;
}

form{
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

ul{
    list-style: none;
    padding: 0;
}

.postItem{
    background-color: #e5e7eb;
    border: 1px solid #eceaea;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.editForm{
    display: none;
    margin-top: 10px;
}