
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  background-color: #21213b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color:#fff;
  width:90%;
  margin: 15%;
  border-radius:10px;
}

.form {
  display:flex;
  flex-direction:column; 
  padding:2rem;
}

.form h1{
  margin-bottom: 1.5rem;
}

.form label {
  padding:.5rem;
}

.form input, select {
  padding:.5rem;
}

.form p {
  margin-top:1rem;
  margin-bottom:1rem;
}