 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 auto;

     .title {
         font-size: 3rem;
         margin: 4rem;
     }

     .cardContainer {
         display: flex;
         flex-direction: row;
         width: 95%;
        margin: 0 auto;
         .projectReferences {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;

             .projectImgContainer {
                 text-decoration: none;
                 position: relative;
                 width: 23%;
                 height: 20%;
                 margin: .5rem;
                 border-radius: 10px;
                 cursor: pointer;
                 overflow: hidden;
                
                 &:hover {
                     border: 1px solid black;

                     .projectImg {
                         transform: scale(1.05);
                     }

                     .overlay {
                         opacity: 1;
                     }

                 }

                 .overlay {
                     position: absolute;
                     height: 40%;
                     inset: 0;
                     background: rgba(0, 0, 0, 0.6);
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     margin-top: 30%;
                     opacity: 0;
                     transition: opacity .3s ease;
                     color: white;
                     font-weight: 800;
                     font-size: 1.3rem;
                 }

                 .projectImg {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     border: 1px solid black;
                     border-radius: 10px;
                     transition: transform .3s ease;

                 }
             }
         }

     }
 }